/* Tips styles */

.ft-circle {
  animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
  background-color: #00bfff;
  border-radius: 50%;
  height: 40px;
  opacity: 0;
  position: absolute;
  width: 40px;
}

.ft-circle-container {
  cursor: pointer;
  height: 40px;
  left: -40px;
	position: absolute;
	top: 50%;
  transform: translateY(-50%);
  width: 40px;
  -webkit-transform: translateY(-50%);
  z-index: 100;
}

.ft-big-button:focus, ft-small-button:focus {
  outline: none;
}

.ft-big-button {
  background-color: #22e647;
  border: none;
  color: #fff;
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.ft-big-button:hover {
  background-color: #1ccc3d;
}

.ft-small-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  padding: 5px;
  position: absolute;
  right: 5px;
  top : 5px;
}

.ft-small-button:hover {
  color: #f00;
}

.ft-tip-box {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: sans-serif;
  max-width: 350px;
  min-width: 250px;
  position: absolute;
  top: 0px;
  z-index: 99;
}

.ft-tip-box h1 {
  background-color: #00d1ff;
  color: #fff;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0px;
  padding: 20px;
}

.ft-tip-box p {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  padding: 20px;
}

@keyframes scaleIn {
  from {
    opacity: .5;
    transform: scale(.2, .2);
  }
  to {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}

/* Tour styles */

.ft-tour-box {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: sans-serif;
  max-width: 350px;
  min-width: 250px;
  padding: 30px;
  position: absolute;
  top: 0px;
  z-index: 99;
}

.ft-tour-box p {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
}

.ft-tour-box button {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 0;
  color: #000;
  padding: 10px;
  margin: 5px;
}

.ft-tour-box button:hover {
  border-color: #000;
  background-color: #ddd;
}

.ft-hidden {
  display: none;
}
