body {
  margin: 0;
}

h1, h2, h3, p, a, li {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h1, h2 {
  text-align: center;
  margin: 100px 0px 25px 0px;
}

h3 {
  margin: 50px 0px 25px 0px;
}

p, li {
  font-size: 18px;
  line-height: 2em;
}

a {
  color: #003380;
  font-weight: bold;
  text-decoration: none;
}

.container {
  width: 40vw;
  margin: 0 auto;
}

.logo {
  margin: 50px 0px;
  background-color: #003380;
}

.logo img {
  display: block;
  margin: 0 auto;
}

.nav {
  text-align: center;
}

.nav h2 {
  cursor: pointer;
  display: inline-block;
  margin: 50px auto;
  padding: 50px 20%;
}

.active {
  color: #003380;
  border-bottom: 5px #003380 solid;
  transition: color 0.5s ease-in;
}

.subheading {
  font-size: 0.9em;
}

.hidden {
  display: none;
}

.code {
  border-left: 10px #003380 solid;
}

.discription {
  margin: 50px 0px;
}

td {
  padding: 20px;
  vertical-align: top;
}

footer div {
  text-align: center;
}

footer img {
display: inline-block;
margin-left: auto;
margin-right: auto;
padding: 50px 10%;
width: 150px;
vertical-align: middle;
}

@media (max-width: 700px) {
  .container {
    width: 90vw;
  }
}
